draft/
*.out
*.out2
logs/
backend/nohup.out
frontend/react_dj/node_modules
__pycache__/
myenv/

venv/
keys.py

frontend/react_dj/build/*
frontend/react_dj/public/images

frontend/react_dj/public/static
